<html>
    

<head>
  
    
  {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css ">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css ">
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    {% comment %} <script type="text/javascript" src="static/licoreriaapp/js/script.js"></script>  {% endcomment %}
  
    
    
    <!--## Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {% comment %} <link href="{% static 'licoreriaapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
     <!-- Fonts -->
    
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"> 
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" >
     

    <!-- Styles -->
    <link rel="stylesheet" href="{% static '/licoreriaapp/css/gestion.css' %}">

    
    

      
</head>

<body>

<!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-1" id="mainNav">
    <div class="container py-2">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none " href="{% url 'Home' %}">Gestión de Pedidos</a>
      <button class="navbar-toggler py-2" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item {% if request.path == '/'%} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/guardia' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Guardia' %}">Guardia</a>
          </li>
          <li class="nav-item {% if request.path == '/articulo' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Articulo' %}">Inventario</a>
          </li>
          <li class="nav-item {% if request.path == '/graficos'%} active {% endif %}px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'reportes/reporte' %}">Reportes</a>
          </li>
          
         
        </ul>
      </div>
    </div>
  </nav>

    <!-- Contenido cambiante -->
    {% block content %}

    {% endblock %}
   
      
 </body>





    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>	    
         <a href="sample.html" class="link" style="font-family: Verdana">&copy; Gestión de Inventario</a>
         <a href="sample.html" class="link" style="font-family: Verdana">Mayo 2023 - Desarrollado por Luis Marin</a>
        </p>    
       
      </div>
	  </footer>

    {% block javascript_bajo %}

    <script type="text/javascript">
    
    $(document).ready(function () {
      const $FormularioEditar=document.getElementById('formulario_editar');
      const $Articulo=document.getElementById('articulo_editar');
      const $TipoUnidad=document.getElementById('tipo_unidad_editar');
      
      (function() {
        
      
      $FormularioEditar.addEventListener('submit', function(e) {
        let nombre = String($Articulo.value).trim();
        let unidad = String($TipoUnidad.value).trim();
      
        if (nombre === "" || nombre === null || nombre.length === 0)  {
        Swal.fire(
          'Tarea no se puede realizar',
          'ARTICULO no puede estar vacio...!',
          'warning'
        )
        e.preventDefault();
        } 
        if (unidad === "" || unidad === null || unidad.length === 0)  {
        Swal.fire(
          'Tarea no se puede realizar',
          'PRESENTACION no puede estar vacio...!',
          'warning'
        )
        e.preventDefault();
        } 
      } );
      
      
      } );
      } );
      
      
      $(document).ready(function () {
      const $FormularioAñadir=document.getElementById('formulario_añadir');
      const $Articulo=document.getElementById('articulo');
      const $TipoUnidad=document.getElementById('tipo_unidad');
      
      (function() {
      
      $FormularioAñadir.addEventListener('submit', function(e) {
      let nombre = String($Articulo.value).trim();
      let unidad = String($TipoUnidad.value).trim();
      
      if (nombre === "" || nombre === null || nombre.length === 0)  {
        Swal.fire(
        'Tarea no se puede realizar',
        'ARTICULO no puede estar vacio...!',
        'warning'
        )
        e.preventDefault();
      } 
      if (unidad === "" || unidad === null || unidad.length === 0)  {
        Swal.fire(
        'Tarea no se puede realizar',
        'PRESENTACION no puede estar vacio...!',
        'warning'
        )
        e.preventDefault();
      } 
      } );
      
      } )();
      
      
      } );
      
      $(document).ready(function () {
      
      const btnEliminacion = document.querySelectorAll(".btnEliminacion");
      
      btnEliminacion.forEach(btn => {
        btn.addEventListener('click', (e) => {
          const confirmacion = confirm('¿Seguro de eliminar este articulo?');
          if (!confirmacion) {
            e.preventDefault();
          }
        });
      });
      
      });
      
      
      $(document).ready(function() {
        $('#tabla_inventario').DataTable( {
          "language": {
            url : 'static/licoreriaapp/datatable/spanish.txt' 
          },
          dom: 'Bfrtip',
          dom: "<'row'<'col-sm-4'li><'col-sm-4 text-center'B><'col-sm-4'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          buttons: [{
            //Botón para Excel
            extend: 'excel',
            footer: true,
            title: 'Archivo',
            filename: 'Export_File',
            className: 'btn btn-info btn-sm',
        
            //Aquí es donde generas el botón personalizado
            text: '<button style= "border: none; padding: 0; background-color: transparent; color:#FCFCFC">Excel <i class="fas fa-file-excel"></i></button>'
          }, 
          //Botón para PDF
          {
            extend: 'pdf',
            footer: true,
            title: 'Archivo PDF',
            filename: 'Export_File_pdf',
            className: 'btn btn-primary btn-sm',
            text: '<button style= "border: none; padding: 0; background-color: transparent; color:#FCFCFC" >PDF<i class="fas fa-file-pdf"></i></button>'
            
          },
      
          //Botón para print
          {
            extend: 'print',
            footer: true,
            filename: 'Export_File_print',
            className: 'btn btn-warning btn-sm',
            text: '<button style= "border: none; padding: 0; background-color: transparent; color:#FCFCFC" >Print<i class="fas fa-file-print"></i></span>'
          },
          ]
          
          
        } );
      } );
    </script>    
        
    {% endblock %}

   
    
    
 


</html>