{% extends "licoreriaapp/articulo.html" %}


{% load crispy_forms_tags %}


{% block content1 %}

    <div class="card "style=" margin-right:10px; margin-top:10px; margin-left:50px;" >
        <h4 class="text-center text-green"><span class="site-heading-lower">AÑADIR INVENTARIO</span></h4>
        <div>
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>
            {% endif %}
            <form action="{% url 'guardarArticulo' %}" method="POST">
                {% csrf_token %}
                {% if mensaje %}
                    <div class="alert alert-success" role="alert">
                        Articulo registrado!
                    </div>
                {% endif  %}

                {{ form|crispy }}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block text-white">Guardar</button>
                </div>							
            </form>

        </div>
        

    </div>

{% endblock %}